/*This code was taken from https://www.subframe.com/tips/css-fire-animation-examples (Zhan, n.d.)*/
:root {
    --accent: #ffd166;
}

.flame {

    background: var(--accent);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    filter: blur(3px);
    opacity: 0;
    transform: translateY(0) scale(0.5);
    animation: flameAnimation 10s infinite ease-out;
}

@keyframes flameAnimation {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(-100px) scale(0);
        opacity: 0;
    }
}

/*Zhan, I. (n.d.). '10 CSS Fire Animation Examples'. Available at:https://www.subframe.com/tips/css-fire-animation-examples
(Accessed: 29/03/2026).*/